<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Spring Security Example </title>-->
<!--</head>-->
<!--<body>-->
<!--<div th:if="${param.error}">-->
<!--    Invalid username and password.-->
<!--</div>-->
<!--<div th:if="${param.logout}">-->
<!--    You have been logged out.-->
<!--</div>-->
<!--<form th:action="@{/loginProc}" method="post">-->
<!--    <div><label> User Name : <input type="text" name="username"/> </label></div>-->
<!--    <div><label> Password: <input type="password" name="password"/> </label></div>-->
<!--    <div><input type="submit" value="Sign In"/></div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<form action="/login" method="post">
    <div class="mb-3">
        <label for="phone" class="form-label">휴대전화</label>
        <input type="text" name="phone" id="phone" class="form-control">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">비밀번호</label>
        <input type="password" name="password" id="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">로그인</button>
    <a href="/signup">회원가입</a>
</form>